.background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3b3b3;
  margin: 0;
  height: calc(100vh - 76px);
  overflow: hidden;
  width: 100%;
}

.container {
  width: 750px;
  height: auto;
  background-color: #e9e9e9;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}

//top
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

//middle

.test {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.topic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.topic-container::-webkit-scrollbar {
  display: none;
}

.topic-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topic {
  display: flex;
  align-items: flex-end;
  word-wrap: normal;
  padding: 10px;
  justify-content: center;
  color: #e9e9e9;
  font-weight: 700;
  margin: 5px 5px;
  height: 130px;
  width: 130px;
  border-radius: 15px;
  background: rgb(200, 200, 200);
  background-blend-mode: multiply;
  cursor: pointer;
}

.topic:active {
  background: rgb(100, 100, 100);
  background-blend-mode: multiply;
}

.active {
  background: rgb(100, 100, 100);
  background-blend-mode: multiply;
}

//bottom
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 20px;
}

.button-container>button {
  width: 80%;
  height: 40px;
  background-color: #ecbc7c;
  border: none;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
}

.button-container>button:active {
  background-color: #b18c5c;
}