.cha {
  position: relative;
}
.cha img {
  height:100%;
  width:100%;
}
.cha button {
  position: absolute;
  top: 40%;
  left: 82%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white ;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;


}
.cha p {
  line-height: normal;
  position: absolute;
  top: 10%;
  left: 65%;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
  max-width: 1000px;
  font-size: 30px;
  font-weight: bold;
}

.edit {
  margin-top: 100px;
  margin-left: 200px;
}





















.language {
  height : 40px;
  width :15%;
}

.edit > label {
  margin-top: 100px;
}
