<div class="cha">
  <img src="assets/images/about.jpg" height="100%" width="100%" />
  <button class="btn" nbButton>Tham gia iPic</button>
  <p>
    iPic là một ứng dụng cho phép<br />
    chia sẻ ảnh và video của bạn <br />
    với mọi người trên mạng xã hội
  </p>
</div>

<div style="background-color: rgba(217, 217, 217, 1)">
  <span style="flex: 1 1auto"></span>
  <div>
    <img
      src="assets/iPic.png"
      style="
        float: left;
        margin-left: 200px;
        margin-top: 20px;
        width: 60px;
        height: 60px;
      "
    />
  </div>
  <div
    style="
      float: right;
      margin-right: 250px;
      margin-top: 100px;
      font-size: 30px;
    "
  >
    <p>Giới thiệu</p>
    <p>iPic là gì ?</p>
    <p>Trang chủ iPic</p>
    <p>Trung tâm trợ giúp</p>
  </div>

  <div>
    <button
      nbButton
      style="
        margin-left: 30px;
        margin-top: 30px;
        font-size: 30px;
        font-weight: bold;
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: none;
      "
    >
      iPic
    </button>
  </div>

  <div class="edit">
    <p>
      <Select class="language">
        <option selected>Tiếng Anh</option>
        <option>Tiếng Việt</option>
        <option>Tiếng Thái</option>
        <option>Tiếng Trung</option>
      </Select>
    </p>
  </div>

  <p style="margin-top: 100px; margin-left: 200px">@iPic 2022</p>
</div>
