<div style="padding-top: 160px; position: relative;">
    <div class="heading">
        <div class="text">Ý tưởng cho bạn về</div>
        <div class="wrapper">
            <div class="offset">
                <h2 style="color: #C28B00 !important;" class="text animate-before">Bữa tối hằng tuần
                </h2>
            </div>
            <div class="offset">
                <h2 style="color: rgb(97, 140, 123) !important;" class="text animate-before">Trang trí nhà cửa
                </h2>
            </div>
            <div class="offset">
                <h2 style="color: rgb(0, 118, 211) !important;" class="text animate-before">Thời trang thịnh hành
                </h2>
            </div>
            <div class="offset">
                <h2 style="color: rgb(64, 235, 164) !important;" class="text animate-before">Màu xanh thiên nhiên
                </h2>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <!-- First Phrase 18 img -->
        <div class="grid">
            <!-- First Column First Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_1.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_2.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_3.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Second Column First Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_4.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_5.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_6.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Third Column First Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_7.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_8.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fourth Column First Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_9.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_10.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fifth Column First Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_11.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_12.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Sixth Column First Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_13.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_14.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_15.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Seventh Column First Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_16.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_17.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Dinner/Dinner_18.jpg'); background-size: cover;">
                </div>
            </div>
        </div>

        <!-- Second Phrase 18 img -->
        <div class="grid">
            <!-- First Column Second Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_1.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_2.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_3.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Second Column Second Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_4.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_5.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_6.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Third Column Second Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_7.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_8.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fourth Column Second Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_9.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_10.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fifth Column Second Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_11.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_12.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Sixth Column Second Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_13.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_14.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_15.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Seventh Column Second Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_16.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_17.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Home-Decorartion/HD_18.jpg'); background-size: cover;">
                </div>
            </div>
        </div>

        <!-- Third Phrase 18 img -->
        <div class="grid">
            <!-- First Column Third Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_1.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_2.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_3.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Second Column Third Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_4.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_5.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_6.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Third Column Third Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_7.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_8.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fourth Column Third Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_9.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_10.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fifth Column Third Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_11.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_12.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Sixth Column Third Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_13.jpg'); background-size: cover;">

                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_14.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_15.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Seventh Column Third Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_16.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_17.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Outfit/Outfit_18.jpg'); background-size: cover;">
                </div>
            </div>
        </div>

        <!-- Fourth Phrase 18 img -->
        <div class="grid">
            <!-- First Column Fourth Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_1.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_2.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_3.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Second Column Fourth Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_4.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_5.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_6.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Third Column Fourth Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_7.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_8.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fourth Column Fourth Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_9.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_10.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Fifth Column Fourth Phrase 2 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_11.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_12.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Sixth Column Fourth Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_13.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_14.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_15.jpg'); background-size: cover;">
                </div>
            </div>

            <!-- Seventh Column Fourth Phrase 3 img -->
            <div class="column animate-before">
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_16.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_17.jpg'); background-size: cover;">
                </div>
                <div class="item"
                    style="background-image: url('/assets/images/Green/G_18.jpg'); background-size: cover;">
                </div>
            </div>
        </div>
    </div>


</div>