<header>
    <link rel="stylesheet" href="./home-not-logged.component.scss">
</header>
<div style="width: 100%">
    <div fullpage id="fullpage">
        <div class="section s1" style="height: 100vh; background-color: rgb(233, 233, 233);">
            <app-session1 style="position: absolute; clip: rect(0px, 100vw, 100vh, 0px); width: 100%;">
            </app-session1>
        </div>
        <div class="section s2" style="height: 100vh; background-color: rgb(255, 253, 146);">
            <app-session2 style="width: 100%">
            </app-session2>
        </div>
        <div class="section s3" style="height: 100vh; background-color: rgb(218, 255, 246);">
            <app-session3></app-session3>
        </div>
    </div>
</div>