<div class="s2-container">
  <div class="s2-left">
    <div style="width: 537px; height: 611px;">
      <div class="s2-split" style="flex-direction: row;">

        <div class="image" style="background-image: url('/assets/images/Dinner/Dinner_14.jpg');">
        </div>

        <div class="s2-split" style="flex-direction: column;">
          <div class="image" style="background-image: url('/assets/images/Dinner/Dinner_6.jpg'); 
              margin-bottom: 10px;
              margin-left: 60px; 
              width: 90% !important; 
              height: 70% !important;">
          </div>

          <div class="image" style="background-image: url('/assets/images/Dinner/Dinner_4.jpg'); 
              margin-top: 20px;
              margin-left: 30px; 
              width: 85% !important; 
              height: 70% !important">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="s2-right">
    <div class="s2-right-title">
      Tìm kiếm các ý tưởng
    </div>
    <div class="s2-right-description">
      Bạn đang nghĩ về gì? <br>
      Hãy thử kiếm một thứ gì đó như: "Món gà rán cho buổi tối"<br>
      và xem bạn tìm được những ý tưởng tuyệt vời gì.<br>
    </div>
    <div>
      <button class="s2-btn">Tìm hiểu</button>
    </div>
  </div>
</div>