.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-not-logged {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nb-layout-header {
    background: #d31027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,
            #ea384d,
            #d31027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,
            #ea384d,
            #d31027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}