.relevant {
    margin-top: 20px;
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0px 20px;
    font-size: 19px;
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    margin-left: 5px;
}

.item-container {
    width: 1200px;
    margin: 20px auto;
    columns: 6;
    column-gap: 20px;
}

.item-container .box {
    width: 100%;
    margin: 0 0 15px;
    overflow: hidden;
}

.item-container .box img {
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 1200px) {
    .item-container {
        columns: 4;
        width: calc(100% - 80px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

@media (max-width: 968px) {
    .item-container {
        columns: 3;
    }
}

@media (max-width: 768px) {
    .item-container {
        columns: 3;
    }
}

@media (max-width: 480px) {
    .item-container {
        columns: 1;
    }
}