<body>
    <div class="container">
        <div class="box">
            <img src="/assets/images/img_01.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_02.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_03.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_04.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_05.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_06.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_07.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_08.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_09.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_01.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_02.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_03.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_04.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_05.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_06.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_07.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_08.jpg"/>
        </div>
        <div class="box">
            <img src="/assets/images/img_09.jpg"/>
        </div>
    </div>
</body>