<body>
    <div class="container">
        <div class="box">
            <img src="https://icdn.dantri.com.vn/thumb_w/680/2022/08/16/ronaldo1-1660613001158.jpg" />
        </div>
        <div class="box">
            <img src="https://i.pinimg.com/564x/36/67/72/366772f4d57f046c2e5f31d4620b7e61.jpg" />
        </div>
        <div class="box">
            <img src="https://i.pinimg.com/564x/4a/c7/52/4ac75222a2531e6dd417074694269435.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_04.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_05.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_06.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_07.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_08.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_09.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_01.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_02.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_03.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_04.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_05.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_06.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_07.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_08.jpg" />
        </div>
        <div class="box">
            <img src="/assets/images/img_09.jpg" />
        </div>
    </div>
</body>