// body{
//     margin: 0;
//     padding: 0;
//     background-color: #6f6f6f;
// }

.container {
  width: 1200px;
  margin: 20px auto;
  columns: 6;
  column-gap: 20px;
}

.container .box {
  width: 100%;
  margin: 0 0 15px;
  overflow: hidden;
}

.container .box img {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .container {
    columns: 4;
    width: calc(100% - 80px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

@media (max-width: 968px) {
  .container {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .container {
    columns: 3;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 1;
  }
}