.searchBoxContainer {
  width: 60%;
}

.searchBox {
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  height: 40px;
  display: flex;
}

.searchBox > input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: light;
  text-align: left;
  background-color: transparent;
  padding-left: 20px;
}

.searchBox:hover {
  background-color: #e1e1e1;
}

.suggestionContainer {
  visibility: hidden;
  display: none;
  position: absolute;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  padding: 20px;
  padding-left: 30px;
  width: 59%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}

.ideaforYou {
  margin-top: 10px;
}

.trendOnPinterest {
  margin-top: 20px;
}

.make-visible {
  visibility: visible;
}

.searchItemContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.searchItemContainer .searchItem {
  background-color: rgb(218, 213, 208);
  border-radius: 40px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 12.5px 20px;
  width: inherit;
  height: 40px;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}

.searchItemContainer .searchItem:hover {
  background-color: rgb(182, 178, 174);
}

.trendTabLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.logo:hover {
  cursor: pointer;
}

.trendTabLine .trendTab {
  display: flex;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: darken;
  margin-right: 10px;
  text-decoration: none !important;
}

.trendTabLine .trendTab:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.home {
    margin: 0 20px 0 0;
}

.home > button {
  border-radius: 50px;
  width: 90%;
  height: 40px;
  margin-left: 20px;
  background-color: #fff;
  border: none;
  padding: 15px;
}

.home button:hover {
  background-color: #e1e1e1;
}

.login > button {
    border-radius: 50px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    padding: 15px;
  }
  
  .login button:hover {
    background-color: #e1e1e1;
  }

.create button {
  color: #fff;
  background-color: transparent;
  border: none;
  margin: 0 10px 0 0;
}

.create button:hover {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  color: #d31027;
}

.update-word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

//bell
.bell-list-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 90vh;
  right: 20px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.bell-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bell-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.bell-item:hover {
  background-color: #ebebeb;
}

.bell-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  margin-bottom: 10px;
}

//mess
.mess-list-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 90vh;
  right: 120px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.mess-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mess-list::-webkit-scrollbar {
  display: none;
}

.mess-item {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.mess-item:hover {
  background-color: #ebebeb;
}

.mess-item-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: medium;
}
