.dad {
  display: block;
  width: 900px;
  height: 80%;
  margin: 40px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  display: flex;
  justify-content: baseline;
  background: none;
}

.c1 {
  height: 100%;
  width: 50%;
}

.c2 {
  height: 100%;
  width: 50%;
  border-radius: 0 30px 30px 0;
  background-color: #fff;
}

.c1 img {
  height: 100%;
  width: 100%;
  border-radius: 30px 0 0 30px;
  border: 1px solid transparent;
  align-items: center;
}

.back > button > nb-icon {
  font-size: 1.5rem;
  line-height: 2;
  width: 2em;
  height: 2em;
  color: #000000; //For unspecified status
}

.back > button {
  float: left;
}

.c2 > button > nb-icon {
  font-size: 1.5rem;
  line-height: 2;
  width: 1em;
  height: 1em;
  color: #000000; //For unspecified status
}

.c2 > button {
  margin-left: 20px;
  margin-top: 40px;
}

.c2 .save {
  float: right;
  margin-top: 30px;
  margin-right: 40px;
  border-radius: 5px;
  width: 15%;
  height: 35px;
  border: none;
  color: #fff;
  background-color: #d8182f;
}

.c2 .follow {
  float: right;
  margin-right: 40px;
  border-radius: 5px;
  width: 20%;
  height: 35px;
  background-color: rgba(217, 217, 217, 1);
  border: none;
}

.c2 .save:hover {
  background-color: #8b1825;
}

.duongLink:link {
  text-decoration: none;
}

.duongLink:visited {
  text-decoration: none;
}

.duongLink:hover {
  text-decoration: underline;
}

.duongLink:active {
  text-decoration: underline;
}

.info > p {
  margin-left: 90px;
  font-size: 15px;
  font-weight: bold;
}

.c2 .comment {
  color: black;
  background-color: transparent;
  margin-top: 10px;
  border: none;
  width: 20%;
  height: 10px;
  font-size: 20px;
  margin: 150px 0 10px 25px;
}

.c2 .input-comment {
  display: flex;
  justify-content: baseline;
  // border: solid black;
  height: 100px;
  align-items: center;
  margin: 10px 20px 0 20px;
}

.c2 .input-comment img {
  width: 11%;
  height: 46%;
  border-radius: 50%;
  border: solid rgb(0, 0, 0, 0.2);
  margin-right: 20px;
}

.c2 .input-comment input {
  border: solid rgb(0, 0, 0, 0.1);
  outline: none;
  width: 80%;
  height: 50%;
  border-radius: 8px;
  padding: 0 10px;
}

// .searchBox {
//   background-color: transparent;
//   border: 1px solid lightgray;
//   border-radius: 50px;
//   margin-top: 22px;
//   margin-left: 90px;
//   padding: 10px;
//   width: 75%;
//   height: 40px;
//   display: flex;
// }

// .searchBox > input {
//   border: none;
//   outline: none;
// width: 100%;
// height: 100%;
//   color: rgb(0, 0, 0);
//   font-size: 15px;
//   font-weight: light;
//   text-align: left;
//   background-color: transparent;
// }

.linkofpic {
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 50px;
  // margin-top: 930px;
  margin-left: 30px;
  padding: 10px;
  width: 55%;
  height: 40px;
  display: flex;
}

.linkofpic > nb-icon {
  font-size: 1.5rem;
  line-height: 2;
  width: 1em;
  height: 1em;
  color: #000000; //For unspecified status
}

.limitTextHeight {
  height: 20px;
  overflow: hidden;
}

nb-card {
  height: 120%;
  width: 120%;
  background-color: none;
}

nb-card-body {
  height: 100%;
  width: 100%;
  background-color: none;
  overflow: hidden;
}
