<div class="back"><button nbButton style="background-color: transparent;
    border: none;">
    <nb-icon icon="arrow-back" style="color:black;"></nb-icon>
  </button>
</div>
<div class="dad">
  <div class="c1" style="background-color: aliceblue  "> </div>
  <div class="c2" style="background-color: aliceblue  ">

    <div class="b">

      <button nbButton style="background-color: transparent;
      border: none;">
        <nb-icon icon="more-horizontal" style="color:black;"></nb-icon>
      </button>

      <button nbButton style="background-color: transparent;
      border: none;">
        <nb-icon icon="share" style="color:black;"></nb-icon>
      </button>

      <button nbButton style="background-color: transparent;
      border: none;">
        <nb-icon icon="heart-outline" style="color:black;"></nb-icon>
      </button>
      <span style="flex:1 1auto"></span>
      <button nbButton style="float: right;
        margin-top:30px;
        margin-right: 40px;
        border-radius: 50px;
        width: 15%;
        height: 45px;
        background-color:rgba(217, 217, 217, 1);
        border: none;">Lưu</button>

      <div class="duongLink"
      style="  text-decoration: underline;
      margin-left: 20px;
      margin-top: 20px;
      font-size:medium;">link.com</div>

      <h1 style="margin-left: 30px">
        iPhone 14 Pro New Renders Based on Leaks💕💕
      </h1>
      <p style="margin-left: 30px">
        iPhone 14 Pro Concept 💕💕 . Do you like it❓ . Comment your opinion below 🙋 Credit :- @konstantin_milenin . . #techlogue_ #iphoneonly #apple #instagram #appleiphone #ios #top #usa #i #nyc #newyork #canada #mexico #california #florida #iphone4 #iphone5 #technology #electronics #mobile #instagood #instaiphone #phone #smartphone #iphone8plus #iphoneX #iphoneology #iphone8 #iphonegraphic #iphoneogram
      </p>



    </div>

  </div>
