<!-- <div class="back"><button nbButton style="background-color: transparent;
    border: none;">
    <nb-icon icon="arrow-back" style="color:black;"></nb-icon>
  </button>
</div> -->
<div *ngIf="post" class="dad">
  <div class="c1" style="background-color: aliceblue  ">

    <div class="pic" style="height: 100%">
      <img [src]="post.images[0].url" alt="">
    </div>
  </div>
  <div class="c2" style="background-color: aliceblue  ">

    <div class="b">

      <button nbButton style="background-color: transparent;
      border: none;">
        <nb-icon icon="more-horizontal" style="color:black;"></nb-icon>
      </button>

      <button nbButton style="background-color: transparent;
      border: none;">
        <nb-icon icon="share" style="color:black;"></nb-icon>
      </button>

      <button nbButton style="background-color: transparent;
      border: none;">
        <nb-icon icon="heart-outline" style="color:black;"></nb-icon>
      </button>
      <span style="flex:1 1auto"></span>
      <button nbButton style="float: right;
        margin-top:30px;
        margin-right: 40px;
        border-radius: 50px;
        width: 15%;
        height: 45px;
        background-color:rgba(217, 217, 217, 1);
        border: none;">Lưu</button>

      <div class="duongLink" style="  text-decoration: underline;
      margin-left: 20px;
      margin-top: 20px;
      font-size:medium;">link.com</div>

      <h1 style="margin-left: 30px">
        {{post.title}}
      </h1>
      <p [ngClass]="{'limitTextHeight': isReadMore}" style="margin-left: 30px" >
        {{post.content}}
      </p>
      <div style="
      margin-top: 1px;
      margin-bottom: 10px;
      width: 20%;
      height: 30px;
      margin-left: 320px;
      border: none;" type="button" (click)="showText()">
          {{ isReadMore ? 'Xem thêm': 'Thu hồi' }}

      </div>


      <span style="flex:1 1auto"></span>
      <div>
        <img src="../assets/logo_ipic.png" height="50px" width="10%" style="float: left;
        margin-left:20px;
        border-radius: 200%;" />
      </div>
      <div>
        <button nbButton style="float: right;
        margin-right: 40px;
        border-radius: 50px;
        width: 20%;
        height: 45px;
        background-color:rgba(217, 217, 217, 1);
        border: none;">Theo dõi</button>
      </div>

      <div class="info">
        <p>Ahmed <br>
          800 người theo dõi </p>
      </div>

      <button nbButton style="color:black;
      background-color: transparent;
      margin-top:10px;
      border: none;
      width: 20%;
      height: 10px;
      font-size:20px;
      margin-left: 40px">Nhận xét</button>

      <button nbButton style="background-color: transparent;
       border: none;
       margin-right:0px;
       margin-top:10px;">
        <nb-icon icon="arrow-ios-downward-outline" style="color:black;"></nb-icon>
      </button>



      <div>
        <img src = "../assets/logo_ipic.png" height="50px" width="10%" style="float: left;
        margin-left:20px;
        border-radius: 200%;
        margin-top:20px;" />
      </div>

      <span style="flex:0 auto"></span>
      <div class="searchBox">
        <input type="text" placeholder="Thêm nhận xét ...">
        <nb-icon icon="message-square" style="color:black;"></nb-icon>
      </div>

      <span style="flex:1 1auto"></span>
      <div>
        <button nbButton style="float: right;
        margin-right: 50px;
        margin-top:20px;
        border-radius: 50px;
        width: 20%;
        height: 45px;
        background-color:rgba(217, 217, 217, 1);
        border: none;">Đã xong</button>
      </div>

      <div>
        <button nbButton style="
        margin-left: 160px;
        margin-top:20px;
        border-radius: 50px;
        width: 15%;
        height: 45px;
        background-color:rgba(217, 217, 217, 1);
        border: none;">Hủy</button>
      </div>
    </div>

  </div>
</div>
<div *ngIf="post" >
  loading...
</div>
