<div class="container">
  <div class="post-form" *ngIf="post">
    <div class="main-form">
      <div class="left-form">
        <div
          class="bg-image"
          [ngStyle]="{ 'background-image': 'url(' + post.images[0].url + ')' }"
        ></div>
        <div class="bg-text">
          <img
            style="object-fit: contain"
            width="100%"
            height="100%"
            [src]="post.images[0].url"
          />
        </div>
      </div>
      <div class="right-form">
        <div class="reaction">
          <button
            class="like"
            nbButton
            style="background-color: transparent; border: none"
          >
            <nb-icon icon="heart-outline"></nb-icon>
          </button>
          <button class="save" nbButton>Lưu</button>
        </div>
        <div class="tags">
          <span *ngFor="let tag of tags">
            <a (click)="chooseTag(tag)" style="margin-left: 5px">{{ tag }}</a>
          </span>
        </div>
        <div>link.com</div>
        <div class="description">
          <div class="title">
            {{ post.title }}
          </div>
          <p [ngClass]="{ limitTextHeight: isReadMore }">
            {{ post.content }}
          </p>
          <!-- <div class="option" type="button" (click)="showText()">
            {{ isReadMore ? "Xem thêm" : "Thu hồi" }}
          </div> -->
        </div>
        <div class="profile">
          <img
            style="width: 50px; height: 50px; border-radius: 50%"
            src="../assets/iPic_Logo_PNG.png"
          />
          <div>{{ post.authorId.firstName }}</div>
        </div>
        <div class="comment">Nhận xét</div>
        <div class="output-comment">
          <div class="single-comment">
            <div class="left">
              <img src="../../../assets/iPic_Logo_PNG.png"/>
            </div>
            <div class="right">
              <div id="usname">Username</div>
              <div>This is comment</div>
            </div>
          </div>
          <div class="single-comment">
            <div class="left">
              <img src="../../../assets/iPic_Logo_PNG.png"/>
            </div>
            <div class="right">
              <div id="usname">Username</div>
              <div>This is comment</div>
            </div>
          </div>
        </div>
        <!-- <div class="input-comment">
          <img
            style="width: 50px; height: 50px; border-radius: 50%"
            src="../assets/iPic_Logo_PNG.png"
          />
          <input type="text" placeholder="Thêm nhận xét ..." />
        </div> -->
      </div>
    </div>
  </div>
</div>
