.container {
  padding: 0;
  margin: 40px auto;
  width: 65%;
  height: 90%;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.post-form {
  width: 100%;
  background: #efefef;
  border-radius: 8px;
}

.post-form .header-form {
  width: 100%;
  height: 8%;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.option-icon {
  padding: 1.5%;
  width: 5%;
}

.post-form .drop-down-tag {
  width: 100%;
  height: 10%;
}

.drop-down-tag button {
  background-color: black;
  border-radius: 0 5px 5px 0;
  border: none;
  width: 20%;
  height: 90%;
  border: 0.5px solid none;
  border-left: none;
}

.drop-down-tag button:hover {
  background: #d31027;
  background: -webkit-linear-gradient(to left, #ea384d, #d31027);
  background: linear-gradient(to left, #ea384d, #d31027);
  cursor: pointer;
}

.drop-down-tag input {
  border-radius: 5px 0 0 5px;
  border: none;
  width: 80%;
  height: 90%;
  border: 0.5px solid none;
  border-right: none;
}

.main-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-form {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;

  .bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 80%;
  }
}

.img img {
  filter: none;
}

.right-form {
  width: 50%;
  margin: 20px;
}

.right-form .title {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.right-form .like {
  margin-right: 75%;
  height: 100%;
}

.right-form .save {
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #d8182f;
  width: 15%;
  height: 30px;
}

.right-form .profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.right-form .account-name {
  width: 50%;
  padding: 25px 0;
  margin: 0 0 0 15px;
  font-weight: bold;
}

.right-form .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.right-form .description {
  width: 100%;
  height: 25%;
}

.right-form .input-description {
  width: 100%;
  height: 30%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #efefef;
}

.right-form .website-link {
  width: 100%;
  height: 10%;
  margin-top: 30%;
}

.right-form .input-link {
  width: 100%;
  height: 30%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  background-color: #efefef;
}

input:focus {
  outline: none !important;
}
