<div class="container">
  <div class="post-form" [formGroup]="postForm">
    <div class="main-form">
      <div class="left-form">
        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" for="image">
          <ngx-dropzone-label id="image">
            <div class="upload-content">
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
              <div>
                <p>Kéo thả hoặc nhấp vào để tải lên</p>
              </div>
            </div>
            <div class="upload-suggest">
              <p>
                Khuyến nghị: Sử dụng tập tin .jpg chất lượng cao có kích thước
                dưới 20MB
              </p>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
            [removable]="true" (removed)="onRemove(f)">
          </ngx-dropzone-image-preview>
        </div>
      </div>
      <div class="right-form">
        <div for="title">
          <input class="title" type="text" placeholder="Tạo tiêu đề" id="title" formControlName="title" />
        </div>
        <div class="profile">
          <img class="avatar" [src]="user.photoURL" />
          <div class="account-name">{{ user.displayName }}</div>
        </div>
        <div class="description" for="description">
          <input class="input-description" type="text" placeholder="Nhập mô tả bài viết của bạn ở đây..."
            id="description" formControlName="content" />
        </div>
        <div class="website-link" for="link">
          <input class="input-link" type="url" placeholder="Chia sẻ thêm liên kết liên quan đến bài của bạn"
            id="link" />
        </div>
        <div class="drop-down-tag">
          <input formControlName="tags" type="search" placeholder="Nhập #tag" />
          <button type="submit" (click)="addPost()">
            <div style="color: #fff">Lưu</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dialog HTML -->
<ng-template id="dialog-success" #dialog let-data let-ref="dialogRef">
  <nb-card style="width: 500px">
    <nb-card-header>Thông báo</nb-card-header>
    <nb-card-body>
      {{ data }}
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()" routerLink="/profile" style="margin-right: 20px">
        Trở về trang cá nhân
      </button>
      <button nbButton (click)="ref.close()">Tiếp tục thêm bài mới</button>
    </nb-card-footer>
  </nb-card>
</ng-template>