.container {
  padding: 0;
  margin: 40px auto;
  width: 65%;
  height: 90%;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.container .post-form {
  width: 100%;
  background: #efefef;
}

.container .post-form .header-form {
  width: 100%;
  height: 8%;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.container .option-icon {
  padding: 1.5%;
  width: 5%;
}

.container .post-form .drop-down-tag {
  width: 100%;
  height: 10%;
  display: inline-flex;
}

.container .drop-down-tag button {
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ea384d,
    #d31027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ea384d,
    #d31027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0 5px 5px 0;
  border: none;
  width: 20%;
  height: 90%;
  border: 0.5px solid none;
  border-left: none;
}


.container .drop-down-tag input {
  border-radius: 5px 0 0 5px;
  border: none;
  width: 80%;
  height: 90%;
  border: 0.5px solid none;
  border-right: none;
}

.container .post-form .main-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.container .main-form .left-form {
  width: 50%;
}

.container .main-form .right-form {
  width: 50%;
  margin: 20px;
}

ngx-dropzone,
.custom-dropzone {
  margin: 0;
}

.custom-dropzone {
  height: 100%;
  width: 95%;
  border-radius: 8px 2px 2px 8px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.custom-dropzone p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

ngx-dropzone-label {
  width: 90%;
  height: 90%;
}

ngx-dropzone-image-preview {
  width: 80%;
}

ngx-dropzone-label,
.upload-content {
  margin-top: 40%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.right-form .title {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 30px;
  background-color: #efefef;
}

.right-form .profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.right-form .account-name {
  width: 50%;
  padding: 25px 0;
  margin: 0 0 0 15px;
  font-weight: bold;
}

.right-form .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.right-form .description {
  width: 100%;
  height: 25%;
}

.right-form .input-description {
  width: 100%;
  height: 30%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #efefef;
}

.right-form .website-link {
  width: 100%;
  height: 10%;
  margin-top: 35%;
}

.right-form .input-link {
  width: 100%;
  height: 30%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  background-color: #efefef;
}

input:focus {
  outline: none !important;
}
