<div class="container">
  <div class="post-form" [formGroup]="postForm">
    <div class="main-form">
      <div class="left-form">
        <div
          class="custom-dropzone"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelect($event)"
          for="image"
        >
          <ngx-dropzone-label id="image">
            <div class="upload-content">
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
              <div>
                <p>Kéo thả hoặc nhấp vào để tải lên</p>
              </div>
            </div>
            <div class="upload-suggest">
              <p>
                Khuyến nghị: Sử dụng tập tin .jpg chất lượng cao có kích thước
                dưới 20MB
              </p>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          >
          </ngx-dropzone-image-preview>
        </div>
      </div>
      <div class="right-form">
        <div for="title">
          <input
            class="title"
            type="text"
            placeholder="Tạo tiêu đề"
            id="title"
            formControlName="title"
          />
        </div>
        <div class="profile">
          <img
            class="avatar"
            src="https://scontent.fsgn13-3.fna.fbcdn.net/v/t1.6435-1/152474324_454991765858054_6815372736016710457_n.jpg?stp=c86.86.1875.1875a_dst-jpg_s240x240&_nc_cat=102&ccb=1-7&_nc_sid=7206a8&_nc_ohc=fGzDAfB0234AX-oW5nI&_nc_ht=scontent.fsgn13-3.fna&oh=00_AT8NbaU1nKNkPjrmiEDV64enjSI4xlaYCj4SaopcS9b7xQ&oe=632DDF05"
          />
          <div class="account-name">Lư Hoàng Duy</div>
        </div>
        <div class="description" for="description">
          <input
            class="input-description"
            type="text"
            placeholder="Nhập mô tả bài viết của bạn ở đây..."
            id="description"
            formControlName="content"
          />
        </div>
        <div class="website-link" for="link">
          <input
            class="input-link"
            type="url"
            placeholder="Chia sẻ thêm liên kết liên quan đến bài của bạn"
            id="link"
          />
        </div>
        <div class="drop-down-tag">
          <input type="search" placeholder="Nhập #tag" />
          <button type="submit" (click)="addPost()">
            <div style="color: #fff">Lưu</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dialog HTML -->
<ng-template id="dialog-success" #dialog let-data let-ref="dialogRef">
  <nb-card style="width: 500px">
    <nb-card-header>Thêm bài viết thành công</nb-card-header>
    <nb-card-body>
      {{ data }}
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()" routerLink="/profile">
        Trở về trang cá nhân
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
