<div class="parrent">
    <div class="left">
        <p class="hover-underline-animation">Hồ sơ công khai</p>
        <p class="hover-underline-animation">Thông tin cá nhân</p>
        <p class="hover-underline-animation">Quản lý tài khoản</p>
        <p class="hover-underline-animation">Điều chỉnh bảng tin nhà của bạn</p>
        <p class="hover-underline-animation">Tài khoản được xác nhận</p>
        <p class="hover-underline-animation">Quyền dùng mạng xã hội</p>
        <p class="hover-underline-animation">Thông báo</p>
        <p class="hover-underline-animation">Quyền riêng tư và dữ liệu</p>
        <p class="hover-underline-animation">Bảo mật và đăng nhập</p>
        <p class="hover-underline-animation">Nội dung mang thương hiệu</p>
    </div>
    <div class="right">
        <div class="child-right">
            <div>
                <p class="font"> Hồ sơ công khai </p>

                <p style="margin-top: -20px; font-size: 8pt;"> Người truy cập hồ sơ của bạn sẽ thấy thông tin sau </p>

                <p style="font-size: 8pt;">Ảnh</p>
            </div>
            <div style="  display: flex;  align-items: flex-start;">
                <img class="avaUser" src="../../../assets/pictures/khang01.jpg">
                <button>Thay đổi</button>
            </div>

            <div class="title" style="margin-bottom: 15px;">
                <div class="name-user">
                    <label>
                        <span class="font-title">Tên</span>
                        <div>
                            <input class="input-profile-name" type="text" placeholder="Nhập Tên">
                        </div>
                    </label>
                </div>

                <div class="name-user">
                    <label>
                        <span class="font-title">Họ</span>
                        <div>
                            <input class="input-profile-name" type="text" placeholder="Nhập Họ">
                        </div>
                    </label>
                </div>
            </div>

            <div>
                <div style="margin-bottom: 10px;">
                    <label>
                        <span class="font-title">Giới Thiệu</span>
                        <div>
                            <input class="input-profile-introduce" type="text" placeholder="Kể câu chuyện của bạn">
                        </div>
                    </label>
                </div>

                <div style="margin-bottom: 10px;">
                    <label>
                        <span class="font-title">Trang Web</span>
                        <div>
                            <input class="input-profile-link" type="text"
                                placeholder="Thêm liên kết để hướng lưu lượng vào web">
                        </div>
                    </label>
                </div>

                <div style="margin-bottom: 10px;">
                    <label>
                        <span class="font-title">Tên Người Dùng</span>
                        <div>
                            <input class="input-profile-email" type="text" placeholder="Nhập Email">
                        </div>
                        <p class="font-title">www.pinterest.com/khangfat2001</p>
                    </label>
                </div>
            </div>

            <div>
                <button>Thiết lập lại</button>
                <button>Lưu</button>
            </div>
        </div>
    </div>
</div>