<header>
    <link rel="stylesheet" href="./landing-page.component.scss">

</header>

<div style="width: 100%">
    <div fullpage id="fullpage" [options]="config">
        <div class="section s1" style="height: 100vh;">
            <div class=" heading">
                <div class="text">Get your Next</div>
                <div class="wrapper">
                    <div class="offset">
                        <h2 class="text animate-before">First Phrase</h2>
                    </div>
                    <div class="offset">
                        <h2 class="text animate-before">Second Phrase</h2>
                    </div>
                    <div class="offset">
                        <h2 class="text animate-before">Third Phrase</h2>
                    </div>
                    <div class="offset">
                        <h2 class="text animate-before">Four Phrase</h2>
                    </div>
                </div>
            </div>

            <div class="grid-container">
                <!-- First Phrase -->
                <div class="grid">
                    <!-- First Column First Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Second Column First Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Third Column First Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fourth Column First Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fifth Column First Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Sixth Column First Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Seventh Column First Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>
                </div>

                <!-- Second Phrase -->
                <div class="grid">
                    <!-- First Column Second Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Second Column Second Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Third Column Second Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fourth Column Second Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fifth Column Second Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Sixth Column Second Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Seventh Column Second Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>
                </div>

                <!-- Third Phrase -->
                <div class="grid">
                    <!-- First Column Third Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Second Column Third Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Third Column Third Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fourth Column Third Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fifth Column Third Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Sixth Column Third Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Seventh Column Third Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>
                </div>

                <!-- Four Phrase -->
                <div class="grid">
                    <!-- First Column Fourth Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Second Column Fourth Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Third Column Fourth Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fourth Column Fourth Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Fifth Column Fourth Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Sixth Column Fourth Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>

                    <!-- Seventh Column Fourth Phrase -->
                    <div class="column animate-before">
                        <div class="item"
                            style="background-image: url('/assets/images/img_01.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_02.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_03.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_04.jpg'); background-size: cover;">
                        </div>
                        <div class="item"
                            style="background-image: url('/assets/images/img_05.jpg'); background-size: cover;">
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 200px; background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);">
            </div>
        </div>

        <div class="section s2" style="height: 100vh; background-color: rgb(255, 253, 146);">
        </div>

        <div class="section s3" style="height: 100vh; background-color: rgb(218, 255, 246);">
        </div>

        <div class="section s4" style="height: 100vh; background-color: rgb(255, 226, 235);">
        </div>
    </div>
</div>