<header>
    <link rel="stylesheet" href="./landing-page.component.scss">
</header>

<div style="width: 100%">
    <div fullpage id="fullpage">
        <div class="section s1" style="height: 100vh; background-color: rgb(233, 233, 233);">
            <app-section1-landing-page style="position: absolute; clip: rect(0px, 100vw, 100vh, 0px); width: 100%;">
            </app-section1-landing-page>
        </div>
        <div class="section s2" style="height: 100vh; background-color: rgb(255, 253, 146);">
            <app-section2-landing-page></app-section2-landing-page>
        </div>
        <div class="section s3" style="height: 100vh; background-color: rgb(218, 255, 246);">
            <app-section3-landing-page></app-section3-landing-page>
        </div>
    </div>
</div>