<header>
    <link rel="stylesheet" href="./landing-page.component.scss">
</header>

<body>
    <div class="heading">
        <span class="text">Get your Next</span>

        <div class="wrapper">
            <div class="offset">
                <h2 class="text animate-before">First Phrase</h2>
            </div>
            <div class="offset">
                <h2 class="text animate-before">Second Phrase</h2>
            </div>
            <div class="offset">
                <h2 class="text animate-before">Third Phrase</h2>
            </div>
            <div class="offset">
                <h2 class="text animate-before">Four Phrase</h2>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <!-- First Phrase -->
        <div class="grid">
            <!-- First Column First Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="../../../assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Second Column First Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Third Column First Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fourth Column First Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fifth Column First Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Sixth Column First Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Seventh Column First Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>
        </div>

        <!-- Second Phrase -->
        <div class="grid">
            <!-- First Column Second Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Second Column Second Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Third Column Second Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fourth Column Second Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fifth Column Second Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Sixth Column Second Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Seventh Column Second Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>
        </div>

        <!-- Third Phrase -->
        <div class="grid">
            <!-- First Column Third Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Second Column Third Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Third Column Third Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fourth Column Third Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fifth Column Third Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Sixth Column Third Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Seventh Column Third Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>
        </div>

        <!-- Four Phrase -->
        <div class="grid">
            <!-- First Column Fourth Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Second Column Fourth Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Third Column Fourth Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fourth Column Fourth Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Fifth Column Fourth Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Sixth Column Fourth Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>

            <!-- Seventh Column Fourth Phrase -->
            <div class="column animate-before">
                <div class="item"></div>
                <img src="/assets/images/img_01.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_02.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_03.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_04.jpg" />
                <div class="item"></div>
                <img src="/assets/images/img_05.jpg" />
            </div>
        </div>
    </div>

</body>