<div>
    <div class="vitri">
        <img class="avaUser"
            src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.6435-1/173704375_2950830601873398_624268128689632794_n.jpg?stp=dst-jpg_p160x160&_nc_cat=106&ccb=1-7&_nc_sid=7206a8&_nc_ohc=2dSBZzyMZxkAX99Fc66&_nc_ht=scontent.fsgn5-13.fna&oh=00_AT__UsewgwD1l7NoHOQF2q2miUPBswU6swbSSuWdVNUMxw&oe=6325523D">
    </div>

    <div class="user-content">
        <p style="margin-top: 15px;" id="name">Chí Khang</p>
        <p style="margin-top: -15px;">@khangfat2001</p>
        <p>0 người đang theo dõi</p>
    </div>


    <div class="hub-button">
        <button class="button-share" (click)="getName()">Chia Sẻ</button>
        <button class="button-file">Chỉnh sửa hồ sơ</button>
    </div>

    <div class="folder">
        <p class="create" style="font-weight: bold; margin-right: 2rem;">Đã Tạo</p>
        <p class="save" style="font-weight: bold;">Đã Lưu</p>
    </div>

    <div>
        <app-list-post></app-list-post>
    </div>

</div>