<div style="margin-top: 50px;">
    <div class="vitri">
        <img class="avaUser"
            src={{user.photoURL}}>
    </div>

    <div class="user-content">
        <p  style="margin-top: 15px;" id="name">{{user.displayName}}</p>
        <p style="margin-top: -15px;">{{user.email}}</p>
        <p>0 người đang theo dõi</p>
    </div>


    <div class="hub-button">
        <button class="button-share" (click)="getName()">Chia Sẻ</button>
        <button class="button-file">Chỉnh sửa hồ sơ</button>
    </div>

    <div class="folder">
        <p class="create" style="font-weight: bold; margin-right: 2rem;">Đã Tạo</p>
        <p class="save" style="font-weight: bold;">Đã Lưu</p>
    </div>

    <div>
        <app-list-post></app-list-post>
    </div>

</div>