<div class="s3-container">
  <div class="s3-right">
    <div class="s3-right-title">
      Lưu trữ những ý tưởng <br>
      mà bạn thích
    </div>
    <div class="s3-right-description">
      Lướt xung quanh iPic và lưu lại những ý tưởng <br>
      hay vào catelog của bạn để thực hiện sau này.
    </div>
    <div>
      <button class="s3-btn">Tìm hiểu</button>
    </div>
  </div>
  <div class="s3-left">
    <div style="width: 611px; height: 611px;">
      <div class="s3-split" style="flex-direction: row;">
        <div class="s3-split" style="flex-direction: column;">
          <div class="image" style="background-image: url('/assets/images/idea_1_fixed.jpg'); 
            height: 80%; 
            width: 100%; 
            margin-bottom: 10px; 
            margin-right: 15px;">
          </div>

          <div class="image" style="background-image: url('/assets/images/idea_4_fixed.jpg'); 
            height: 50%; 
            width: 70%; 
            margin-top: 10px; 
            margin-left: 50px;">
          </div>
        </div>

        <div class="s3-split" style="flex-direction: column;">
          <div class="image" style="background-image: url('/assets/images/idea_3_fixed.jpg'); 
            height: 50%; 
            width: 60%; 
            margin-bottom: 10px;
            margin-right: 50px;">
          </div>

          <div class="image" style="background-image: url('/assets/images/idea_2_fixed.jpg'); 
            height: 80%; 
            width: 100%; 
            margin-top: 10px; 
            margin-left: 15px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>